/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html { width: 100%; }

.container {
    min-height: 500px;
}

body {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #2b2626 !important;
  background-color: #fbfbfb !important;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: #f8f8f8;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #777;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  letter-spacing: -.5px;
  font-size: 20px;

}

/* Site footer */

.footer {
  background: hsla(0,100%,0%,0.7);
  padding: 3em 1.618em;
  width: 100%;
  margin-top: 100px;
  bottom: 0px;
  position: relative;
}

.footer .footer-links {
    margin-bottom: 1.5em;
}

.footer .footer-links:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 40em) {
    .footer .footer-links {
        margin-left: 25.58941%;
    }
}

.footer ul {
    margin-bottom: 3em;
    list-style: none;
}

@media screen and (min-width: 40em) {
    .footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
    }

    .footer ul:last-child {
        margin-right: 0;
    }

    .footer ul:nth-child(3n) {
        margin-right: 0;
    }

    .footer ul:nth-child(3n+1) {
        clear: left;
    }

    .footer ul:after {
        content: "";
        display: table;
        clear: both;
    }
}

.footer li {
text-align: center;
}

@media screen and (min-width: 40em) {
    .footer li {
        text-align: left;
    }
}

.footer li a {
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: .4em;
}

.footer li a:hover {
    color: white;
}

.footer a {
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: .4em;
}

.footer a:hover {
    color: white;
  }

.footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
}

.footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em;
}

.footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  min-height: 650px;
}

.about {
    padding: 800px;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
 }

.posts {
    margin-top: 70px;
    list-style-type: none;
}

.posts li {
    margin: 15px 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0 20px 0;
}

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
  color: black;
}

.posts .post-link:hover {
    text-decoration: none;
}

.posts .post-date {
  display: block;
  font-size: 13px;
  color: #A6A6A6;
  margin: 18px 0 -15px 0;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * {
    margin: 20px 0;
    font-size: 20px;
}


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}

.centered {
    margin: 25px 0 0 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 13px;
}

.title {
    margin: 25px 0 0 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 13px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-toggle {
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size: 30px;
    color: #d3d3d3;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    position: fixed;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 15px;
    z-index: 1;
}

.sidebar {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: -230px;
    width: 150px;
    padding: 30px;
    background: rgba(51, 51, 51, 0.9);
    z-index: 1;
}

.sidebar li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-align: center;
}

.sidebar li a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: white;
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked + .bar .sidebar {
    left: 0px;
}

#sidebartoggler:checked + .bar .nav-toggle {
    left: 200px;
}

.image {
  width: 500px;
  -webkit-box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);
}

.image-container {
  text-align: center;
}

.post-header {
  background-color: white;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
  color: white;
}
