nav {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
}

#links ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#links li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
/* #links ul { */
/*   list-style-type: none; */
/*   float: right; */
/*   display: inline; */

/* } */

#welcome {

}

section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax h1 {
  color: white;
  font-size: 100px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

section.module.parallax-1 {
  background-image: url("https://pixabay.com/get/e835b90d29fc033ed1534705fb0938c9bd22ffd41db9134094f5c17da6/chandelier-1082182_1920.jpg");
  height: 700px !important;
}

section.module.parallax-2 {
  background-image: url("http://i.imgur.com/eI2puZI.jpg");
}

section.module.parallax-3 {
  background-image: url("http://i.imgur.com/Fo0RInp.jpg");
}
