html {
  background: url(../images/index.png) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  font-family: Verdana !important;
  font-size: 14px;
}

.ui.grid {
  background-color: rgba(0,0,0,.3);
  border-radius: 1em;
  color: white;
  margin-top: 1em !important;
}
