html {
  background: url(../images/background-2.png) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  font-family: Verdana !important;
  font-size: 14px;
}

body {
  max-width: 55em;
  font-family: Verdana !important;
  font-size: 14px;
  margin: 0 auto !important;
  background: none !important;
}

header {
  padding: 1em;
}

pre {
  border: 1px solid #aaaaaa;
  padding-top: 10px;
  border-radius: 1em;
  background-color: lightgrey;
  color: black;
}

.external-link {
  color: #02dddc !important;
}

.ui.grid {
  background-color: rgba(0,0,0,.5);
  border-radius: 1em;
  color: white;
  margin-top: 1em !important;
}

#ad-banner {
  text-align: center;
}

#top-header {
  margin-top: 5em;
}

#footer-info {
  margin-top: 3em;
  text-align: center;
}

#nav {
  width: 100%;
}

.ui.secondary.menu.teal .active.item {
  border-color: #02dddc !important;
  color: #02dddc !important;
}

#teal {
  color: #02dddc !important;
}

#green {
  color: #73e1b4 !important;

}

.ui.dividing.header {
  border-bottom: 1px solid #73e1b4 !important;
}

.ui.massive.teal.circular.label {
  color: #02dddc !important;
  background-color: #02dddc!important;
}

.ui.massive.green.circular.label {
  color: #73e1b4 !important;
  background-color: #73e1b4!important;
}

.ui.massive.grey.circular.label {
  color: #2224 !important;
  background-color: #2224!important;
}

.sixteen-px {
  font-size: 16px;
  font-weight: 400;
}


.ui.items>.item .meta, .ui.items>.item .description, .ui.items>.item .header {
    color: white !important;
}
